<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Working Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid px-lg-5">
      <a class="navbar-brand" href="#">Working Title</a>
    </div>
  </nav>
  <div class="container-fluid py-4 px-lg-5">
    <!-- Code starts here (｡･ω･｡)ﾉ -->



    <!-- The query form's here ヽ(·∀·)ﾉ -->  
    <form action="/search-req" method="POST">
      <!-- the box -->
      <div class="mb-3">
        <label for="queryInputBox" class="form-label">Ask some question here</label>
        <input type="text" class="form-control" id="queryInputBox" name="queryInputBox">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>




  </div>


  <script src="js/main.js"></script>
</body>
</html>